doctype html
html
  head
    title Slide Navbar
    link(rel='stylesheet', href='/stylesheets/auth.css')
    link(href='https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap', rel='stylesheet')
  body
    .main
      input#chk(type='checkbox', aria-hidden='true')
      
      .signup
        form(method='post', action='/auth/signup')
          label(for='chk', aria-hidden='true') Sign up
          input(type='text', name='username', placeholder='Username', required)
          input(type='email', name='email', placeholder='Email')
          input(type='text', name='phone_number', placeholder='Phone number')
          input(type='password', name='password', placeholder='Password', required)
          button Sign up
      
      .login
        form(method='post', action='/auth/login')
          label(for='chk', aria-hidden='true') Login
          input(type='text', name='username', placeholder='Username', required)
          input(type='password', name='password', placeholder='Password', required)
          button Login
